  
footer{

  font-family: 'Itim', cursive;
  background-image: url("https://images.vexels.com/media/users/3/157462/isolated/preview/88fbf3285773faa1142cbc625b810f40-mobile-online-shopping-icon-by-vexels.png");
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  color:rgb(255, 255, 255);
}