<div class="card m-3 shadow ">
    <img class="card-img" src={{obj.productImage}} width="100%" height="350px" alt="">
    <hr>
    <div class="card-body">
        <div>
        <p class="card-text text-center display-6">{{obj.productTitle}}</p>
        <h6 class="card-text">{{obj.description}}</h6>

            <dl>
                <dt>Specifications:</dt>
                <dd>RAM: {{obj.ram}}</dd>
                <dd>Processor: {{obj.processor}}</dd>
            </dl>
        
        <button class="btn btn-warning d-block mx-auto px-3" ><i class="bi bi-cart-plus"> ADD PRODUCT</i></button>
        </div>
    </div>
</div>