<ul class="nav  nav-fill">
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="mobiles" routerLinkActive="active">Mobile Phones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="laptops" routerLinkActive="active">Laptops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="televisions" routerLinkActive="active">TV's</a>
    </li>
  </ul>

  <div class="container">
    <router-outlet></router-outlet>
  </div>




















<!-- <div class="text-center display-3">Mobile Phones</div>

<div class="text-center lop">
    <h3>No.of products in cart: {{count}} </h3>
    <ul *ngFor="let re of recievedDetails" class="list-group">
        <li class="list-group-item">
        {{re.productTitle}} added to cart
        </li>
    </ul>
</div> -->





